@{
    ViewData["Title"] = "JHFC";
}

@model List<Movie>

<table class="table table-bordered table-hover">
    <thead>
        <tr class ="fw-bold table-dark">
            <td>Title</td>
            <td>Year</td>
            <td>Category</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Copied to Plex</td>
            <td>Notes</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var x in Model) {
        <tr>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Category?.CategoryName</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.CopiedToPlex</td>
            <td>@x.Notes</td>
            <td><a class="btn btn-outline-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
            <td><a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>
        </tr>
    }
    </tbody>
</table>